h1 {
    text-align: center;
    color: white;
    background: black;
    padding: 5px;
}

body {
    padding: 15px;
    background: linear-gradient(to bottom right, red, white);
    font-family: Verdana;
}

.column1 {
    width: 48%;
}

.column2 {
    width: 48%;
}

img {
    max-width: 100%;
}

.photo {
    box-shadow: 4px 4px 4px gray;
    transform: rotate(10deg);
}